<launch>

    <rosparam file="$(find rosbt)/config/params.yaml" command="load"/>

    <node name="server_node" pkg="rosbt" type="btserver.py" output="both">

    </node>

    <node name="client_node" pkg="rosbt" type="btclient.py" output="both">

        <param name="btaddr" value="$(arg btaddr)" />
        
    </node>


</launch>