<?xml version="1.0" ?>

<launch>

    <rosparam command="load" file="$(find rosbt)/config/params.yaml" />

    <node name="server_node" pkg="rosbt" type="btserver.py" output="screen">

    </node>

    <node name="client_node" pkg="rosbt" type="btclient.py" output="screen" >

        <!-- <param name="btaddr" value="3C:21:9C:E0:88:54" /> -->
        <param name="btaddr" value="$(arg btaddr)" />
        
    </node>


</launch>